@charset "utf-8";


body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	/*background: #666666; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}




.VisualizationMainPage #mainContent {
	/*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}



.VisualizationMainPage #container {
	background: #FFFFFF;
	/*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}


.VisualizationMainPage #algoControlSection
{
	background: rgba(124, 160, 174, 0.25)!important;; 
	color:#000000; 

}


.VisualizationMainPage #generalAnimationControlSection
{
	background: rgb(124, 160, 174, 0.25)!important;; 
	color:#006600; 

}
/* code snippet inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_push*/
nav {
	height: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	padding-top: 1em;
	overflow-x: hidden;
	background-color: #2a9d8f;
	text-align: center;
	width: 0;
	transition: 0.5s;
  }
  nav li{
	  list-style-type: none;
  }
  nav a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	padding: 8px 8px 8px 32px;
  }
  
  h6 {
	font-size: 0.8em;
  }
  
  #hamburger {
	text-decoration: none;
	width: auto;
	font-size: 2em;
	display: block;
	padding: 1em;
	color:black;
  }
  
  #closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
	z-index:10;
  }
.VisualizationMainPage  #header { 
	background: rgb(124, 160, 174); 
	color:black;
	text-align:center;
	padding: 0 10px 0 20px; 
  
} 
 
.VisualizationMainPage #header  A:visited 
	  { text-decoration:none;
        color:#ffCC33; 
	   }
	   
	   
.VisualizationMainPage #header h1 {
	margin: 0; 
	padding: 10px 0; 
	}
	   
.VisualizationMainPage #header A:link {
    text-decoration:none;
    color:#ffCC33;
	}
	
	
.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	
	
	
.VisualizationMainPage #footer  A:visited { text-decoration:none;
        color:ffcc33; 
}

.VisualizationMainPage #footer A:link {
    text-decoration:none;
	color:black;
}


	

.VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}
body{
	background-color: rgb(124, 160, 174)!important;
}


.VisualizationMainPage #footer { 
	padding: 0 10px;
	color:#ffcc33;
} 
.VisualizationMainPage #footer p {
	margin: 0; 	padding: 10px 0; 
}

#GeneralAnimationControls{
	display:grid;
	grid-template-columns: auto;
	padding:1em;
}
#GeneralAnimationControls > div{
	margin-left:2em;
}
#footer{
	background-color:rgb(124, 160, 174)!important;
	color: black;
	width:100%;
}
#canvas{
	width:100%;
	margin:auto;
}

EM {text-decoration: bold;}

@media all and (min-width:768px){
	#GeneralAnimationControls{
		grid-template-columns: auto auto;
	}
	nav {
		text-align: left;
	}
	#hamburger {
		position: relative;
		top: 1em;
		left: 1em;
		padding: 0;
		display: inline;
	}
}

	
